{% if not collections.post %}
    <p>No posts to display.</p>
{% else %}
    {% set firstPostPrinted = false %}
    {% for post in collections.post | reverse %}
        {% if not firstPostPrinted %}
            <!-- if the blogroll is being viewed from landing page, only show latest post -->
            {% if layout == "landing.html" %}
                {% set firstPostPrinted = true %}
                <a href="/{{ lang }}/news/" class="post">
                    <p class="date">{{ post.date | formatDate }}</p>
                    <h2>{{ post.data.title }}</h2>
                    {% if post.content | wordcount < 300 %}
                        {{ post.content | safe }}
                    {% else %}
                        <p>{{ post.content | excerpt }}</p>
                    {% endif %}
                </a>
            <!-- if viewed from anywhere else (i.e. news page), show all -->
            {% else %}
                <a href="{{post.url}}" class="post">
                    <p class="date">{{ post.date | formatDate }}</p>
                    <h2>{{ post.data.title }}</h2>
                    {% if post.content | wordcount < 300 %}
                        <p>{{ post.content | safe }}</p>
                    {% else %}
                        <p>{{ post.content | excerpt }}</p>
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
