<iframe src="https://mapcomplete.org/cyclofix?z=12.8&lat=45.50132949063922&lon=-73.60155685366453&language={{ lang }}&background=protomaps.black&fs-geolocation=false&filter-bike_shop-offers_diy_repair=true&fs-layers-enabled=false&layer-bike_shop=true&layer-bike_repair_station=true&layer-bicycle_rental=true&userlayout=cyclofix"
     width="100%" height="100%" style="min-width: 250px; min-height: 250px"
    title="{% if lang == 'en' %}Cyclofix - a map for cyclists{% else %}Cyclofix - une carte pour les cyclistes{% endif %}">
</iframe>
