<footer class='grid-container add-padding'>
    <div class="index">
        <ul>
            <li>
                {% include 'lang-switcher.html' %}
            </li>
        </ul>
        {% include 'list-index-pages.html' %}

    </div>
    <div class="brands">
        <div>
            <p class="centered">Merci aux partenaires qui nous soutiennent et qui nous ont soutenu.</p>
        </div>
        <div>
            <img src="/imgs/cmam-logo-blanc-3@2x.png" alt="CMAM Logo" />
        </div>
        <div>
            <img src="/imgs/Solon-logo.png" alt="Solon Logo" />
        </div>
        <div>
            <img src="/imgs/bqame.svg" alt="Bqame Logo" />
        </div>
    </div>
    <div class="credits">
        <div>
            <a href="https://ateliers-velo.goatcounter.com/">
                <img src="/imgs/bar-chart.svg" alt="Stats logo" />
            </a>
        </div>
    </div>
</footer>
