<footer class='grid-container add-padding'>
    <div class="index">
        <ul>
            <li>
                {% include 'lang-switcher.html' %}
            </li>
        </ul>
        {% include 'list-index-pages.html' %}
    </div>
    <div class="brands">
        <div>
            <p class="centered">Merci aux partenaires qui nous soutiennent</p>
        </div>
        <div>
            <img src="/imgs/bqame.svg" />
        </div>
        <div>
            <img src="/imgs/Solon-logo.png" />
        </div>
    </div>
</footer>
