<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title[lang] }} | {{ title }}</title>

    {% if description %}
        <meta name="description" content="{{ description }}">
    {% else %}
        <meta name="description" content="{{ site.description[lang] }}">
    {% endif %}
    <link rel="shortcut icon" href="/imgs/peach-emoji.ico" type="image/x-icon">
    <link id="theme-style" rel="stylesheet" type="text/css" href="/css/dark-mode.css" />
    <link rel="stylesheet" type="text/css" href="/css/sizing.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/main.js"></script>
    <script data-goatcounter="https://ateliers-velo.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
