<div class="lang-selector">
    {% for l in site.languages %}
        {% if l.code == lang or translationKey == false %}
            <a>{{ l.code }}</a>
        {% elif translationKey is defined %}
            {% if translationKey == 'content' %}
                <a href="/{{ l.code }}/">{{ l.code }}</a>
            {% else %}
                {% set translationSucceeded = false %}
                {% for p in collections.all %}
                    {% if p.data.translationKey == translationKey and p.data.lang == l.code %}
                        <a href="{{ p.data.permalink }}">{{ l.code }}</a>
                        {% set translationSucceeded = true %}
                    {% endif %}
                {% endfor %}
                {% if not translationSucceeded %}
                    <a>{{ l.code }}</a>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if loop.index < loop.length %}
            <a>|</a>
        {% endif %}
    {% endfor %}
</div>