    <div className="center-content">
      <div className="wrapper">
        <div className="marquee-text fadeout-horizontal">
                 <div 
          style={
              {
                "--direction": "reverse",
                "--speed": "20s",
              } as React.CSSProperties
            }
          className="marquee-text-track">
            <p>🍑🍑</p>
            <p>BUM-BUM</p>
            <p>🍑🍑</p>
            <p>Bécks Unis Montréal - Bikes Unite Montreal</p>
            <p aria-hidden="true">🍑🍑</p>
            <p aria-hidden="true">BUM-BUM</p>
            <p aria-hidden="true" >🍑🍑</p>
            <p aria-hidden="true">Bécks Unis Montréal - Bikes Unite Montreal </p>          
          </div>
        </div>
        <div className="marquee-text fadeout-horizontal">
          <div
            style={
              {
                "--direction": "forwards",
                "--speed": "20s",
              } as React.CSSProperties
            }
            className="marquee-text-track"          >
            <p>PROCHAIN RÉUNION - NEXT MEETING: 2025/07/14/18h/Immeuble Greenpeace Building</p>
            <p>🚲</p>
            <p>BALADE DE BUM - BUM'A'RIDE: 2025/07/01/17h/Tourne à Gauche</p>
            <p>🚲</p>                
            <p aria-hidden="true">PROCHAIN RÉUNION - NEXT MEETING: 2025/07/14/18h/Immeuble Greenpeace Building</p>
            <p aria-hidden="true">🚲</p>
            <p aria-hidden="true">BALADE DE BUM - BUM'A'RIDE: 2025/07/01/17h/Tourne à Gauche</p>
            <p aria-hidden="true">🚲</p>                      
          </div>
          
          <div className="marquee-text fadeout-horizontal">
         
        <div 
          style={
              {
                "--direction": "reverse",
                "--speed": "20s",
              } as React.CSSProperties
            }
          className="marquee-text-track">
            <p>🔧</p>
            <p>Réseau des ateliers vélo communautaires de Montréal</p>
            <p>🔧</p>
            <p>Montreal Community Bike Shop Network</p>
            <p aria-hidden="true">🔧</p>
            <p aria-hidden="true">Réseau des ateliers vélo communautaires de Montréal</p>
            <p aria-hidden="true" >🔧</p>
            <p aria-hidden="true">Montreal Community Bike Shop Network</p>          
          </div>
        </div> 
          
        </div>
      </div>
    </div>
