{% if not collections.posts %}
    <p>No posts to display.</p>
{% else %}
    {% set firstPostPrinted = false %}
    {% for post in collections.posts | reverse %}
        {% if not firstPostPrinted %}
            {% if post.data.lang == lang or (post.data.lang != lang and post.data.translationKey == false) %}
                <!-- if the blogroll is being viewed from landing page, only show latest post -->
                {% if layout == "landing.html" %}
                    {% set firstPostPrinted = true %}
                    <!-- website prefix only for GITHUB PAGES -->
                    <div class="content" onclick="window.location.href='/website/fr/pages/evenements-and-actualites';" style="cursor: pointer;">                        
                        <h1>{{ post.data.title }}</h1>
                        {% if post.content | wordcount < 150 %}
                            {{ post.content | safe }}
                        {% else %}
                            {% excerpt post %}
                        {% endif %}
                        <p class="date">{{ post.date | formatDate }}</p>
                    </div>
                <!-- if viewed from anywhere else (i.e. news page), show all -->
                {% else %}
                    <!-- website prefix only for GITHUB PAGES -->
                    <div class="content" onclick="window.location.href='/website{{ post.data.permalink }}';">
                        <h1>{{ post.data.title }}</h1>
                        {% if post.content | wordcount < 300 %}
                            {{ post.content | safe }}
                        {% else %}
                            {% excerpt post %}
                        {% endif %}
                        <p class="date">{{ post.date | formatDate }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
