---
tags: [nav-items, index-pages]
title: 'Shops'
layout: 'gallery.html'
date: 2000-01-01
---

<p>Thanks for helping us build this website by sending us a photo of your bike shop in action!</p>

{% include 'tile-gallery.html' %}
