---
tags: [nav-items, index-pages]
title: 'Shops'
layout: 'gallery.html'
date: 2000-01-01
---

Thanks for helping us build this website by [sending us](https://bum.bike/en/pages/contact/) a photo of your bike shop in action!

{% include 'tile-gallery.html' %}
