<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
	{% include 'head.html' %}
	<body>
		<div class='grid-container'>
			{% set landingpage = true %}
			{% include 'navbar.html' %}
			{% include 'map.html' %}
			{% include 'marquee.html' %}
			<div id="landing-content" class="vertical-centre">
				{% for p in collections.all %}
					{% if p.data.fileNameSlug == "a-propos" and p.data.lang == lang %}
						<div class="content" onclick="window.location.href='{{ p.data.permalink }}';" style="cursor: pointer;">
							<h1>{{ p.data.title }}</h1>
							{{ p.content | safe }}
						</div>
					{% endif %}
				{% endfor %}
			</div>
			{% include 'posts.html' %}
			<div id="contact-content" class="vertical-centre">
				{% for p in collections.all %}
					{% if p.data.fileNameSlug == "contact" and p.data.lang == lang %}
						<div class="content">
							<h1>{{ p.data.title }}</h1>
							{{ p.content | safe }}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		{% include 'footer.html' %}
	</body>

</html>
