<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
	{% include 'head.html' %}
	<body>
		<div class='grid-container'>
			{% set landingpage = true %}
			{% include 'navbar.html' %}
			<div id="landing-content" class="vertical-centre">
				{{ content | safe }}
			</div>
			<!-- Added square div here -->
			<div style="
				width: 80%;
				height: 70vh;
				outline: 20px solid var(--main-text-color);
				grid-column: span 8;
				margin: 10vh 0 10vh 0;
			">
				{% include 'external-map.html' %}
			</div>
			{% include 'posts.html' %}
			<div id="gallery-content">
				{% include 'tile-gallery.html' %}
			</div>
		</div>
		{% include 'footer.html' %}
	</body>

</html>
