<!DOCTYPE html>
<html lang="{{ lang }}" dir="ltr">
	{% include 'head.html' %}
	<body>

		<div class='grid-container'>
<!--			<div class="logo-banner">-->
<!--				{% set landingpage = true %}-->
<!--				{% include 'logo-banner.html' %}-->
<!--			</div>-->
			{% set landingpage = true %}
			{% include 'navbar.html' %}
			<!-- Added square div here -->
			<div id="map-container">
				{% include 'map.html' %}
			</div>
			<div id="landing-content" class="vertical-centre">
				{{ content | safe }}
			</div>
			{% include 'posts.html' %}
			<div id="gallery-content">
				{% include 'tile-gallery.html' %}
			</div>
		</div>
		{% include 'footer.html' %}
	</body>

</html>
