---
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="{{ site.defaultLang }}">
<head>
  <meta charset="utf-8">
  <title>Redirecting...</title>
  <meta http-equiv="refresh" content="0; url={{ pathPrefix }}{{ site.defaultLang }}/index.html">
  <script>window.location.href = "{{ pathPrefix }}{{ site.defaultLang }}/index.html";</script>
  <link rel="canonical" href="{{ pathPrefix }}{{ site.defaultLang }}/index.html">
</head>
<body>
  <h1>Redirecting...</h1>
  <p><a href="{{ pathPrefix }}{{ site.defaultLang }}/index.html">Click here if you are not redirected.</a></p>
</body>
</html>
